<%- include ("partials/header") %>

<div class="container pt-3">
    <form action="/config" method="POST">
      <div class="form-group">
          <label for="courseID">Please provide KTH Canvas Course ID:</label>
          <input type="text" maxlength="10" pattern="\d*" title="numbers only" class="form-control col-md-2" id="courseID" name="courseID" placeholder="courseID" value="" required><small id="idHelpInline" class="text-muted">
            Numbers only, max 10 digits. (http://canvas.kth.se/courses/<b>courseID</b>)
          </small>
        </div>
        <button type="submit" class="btn btn-success">Generate</button>  
  </form>   
</div>

<%- include ("partials/footer") %>


